<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>BTL_nhom2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>View</display-name>
    <servlet-name>View</servlet-name>
    <servlet-class>jsoft.ads.main.View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndividualAE</display-name>
    <servlet-name>IndividualAE</servlet-name>
    <servlet-class>jsoft.ads.individual.IndividualAE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndividualAE</servlet-name>
    <url-pattern>/individual/ae</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndividualView</display-name>
    <servlet-name>IndividualView</servlet-name>
    <servlet-class>jsoft.ads.individual.IndividualView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndividualView</servlet-name>
    <url-pattern>/individual/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountView</display-name>
    <servlet-name>AccountView</servlet-name>
    <servlet-class>jsoft.ads.account.AccountView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountView</servlet-name>
    <url-pattern>/account/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParentageView</display-name>
    <servlet-name>ParentageView</servlet-name>
    <servlet-class>jsoft.ads.parentage.ParentageView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParentageView</servlet-name>
    <url-pattern>/parentage/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParentageAE</display-name>
    <servlet-name>ParentageAE</servlet-name>
    <servlet-class>jsoft.ads.parentage.ParentageAE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParentageAE</servlet-name>
    <url-pattern>/parentage/ae</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTree</display-name>
    <servlet-name>ViewTree</servlet-name>
    <servlet-class>jsoft.ads.main.ViewTree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTree</servlet-name>
    <url-pattern>/view/tree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manager</display-name>
    <servlet-name>Manager</servlet-name>
    <servlet-class>jsoft.ads.main.Manager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manager</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>album</display-name>
    <servlet-name>album</servlet-name>
    <servlet-class>jsoft.ads.main.album</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>album</servlet-name>
    <url-pattern>/album</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewParentage</display-name>
    <servlet-name>ViewParentage</servlet-name>
    <servlet-class>jsoft.ads.main.ViewParentage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewParentage</servlet-name>
    <url-pattern>/view/parentage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>image/view</display-name>
    <servlet-name>image/view</servlet-name>
    <servlet-class>jsoft.ads.image.ImageView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>image/view</servlet-name>
    <url-pattern>/image/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageAE</display-name>
    <servlet-name>ImageAE</servlet-name>
    <servlet-class>jsoft.ads.image.ImageAE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageAE</servlet-name>
    <url-pattern>/image/ae</url-pattern>
  </servlet-mapping>
</web-app>