
/* default.ascx */
.def_header { margin-bottom: 10px; }
.def_body { border: 1px solid #3954A2; margin-bottom: 10px; min-height: 500px; padding: 8px; overflow: hidden }
.def_left { width: 644px; float: left }
.def_right { width: 329px; float: right }
.def_footer { border: 1px solid #3954A2; overflow: hidden }

/* fe_fullwide.ascx */
.fw_header { margin: 0 auto 10px auto; width: 998px }
.fw_body { min-height: 500px; overflow: hidden; }
.fw_footer { border: 1px solid #3954A2; overflow: hidden; margin: 0 auto; width: 998px }

/* ucp default.ascx */
.ucp_def_header { margin-bottom: 0px; }
.ucp_def_body { margin-bottom: 10px; min-height: 500px; padding: 8px; overflow: hidden }
.ucp_def_left { width: 13%; float: left; background-color: #DEECF9; padding: 4px; color: #fff }
.ucp_def_right { width: 86%; float: right }
.ucp_def_footer { border: 1px solid #3954A2; overflow: hidden }
.hometext {
    font-weight: 700;
}
